In [5]:
from datetime import datetime

new_year_eve = datetime(2024, 12, 31, 18, 30, 0)
new_year = datetime(2025, 1, 1, 0, 0, 0)

new_year_eve

datetime.datetime(2024, 12, 31, 18, 30)

In [3]:
['2', '1', '34']

a, b, c = list(map(int, ['2', '1', '34']))
a
b
c

['2', '1', '34']

2

1

34

In [6]:
dob_str = '2021-3-3'
y, m, d = dob_str.split('-')
int(y)
int(m)
int(d)

2021

3

3

In [7]:
from datetime import date

dob_str = '2023-2-23'
y, m, d = dob_str.split('-')

dob_date = date(int(y), int(m), int(d))
dob_date

datetime.date(2023, 2, 23)

In [8]:
from datetime import date

dob_str = '2023-2-23'
y, m, d = list(map(int, dob_str.split('-')))

dob_date = date(y, m, d)
dob_date

datetime.date(2023, 2, 23)