In [34]:
class Student:
  _idx = 1

  def __init__(self, name, place, age):
    self.id = Student._idx
    Student._idx += 1

    self.name = name
    self.place = place
    self.age = age

  def __repr__(self):
    return f'<Student {self.name}>'


students = {}


def add_student(student):
  students[student.id] = student


add_student(Student('vidu', 'hbh', 21))
add_student(Student('rahul', 'albd', 23))
students

{1: <Student vidu>, 2: <Student rahul>}

In [32]:
class Course:
  _idx = 1

  def __init__(self, name, credits):
    self.id = Course._idx
    Course._idx += 1

    self.name = name
    self.credits = credits

  def __repr__(self):
    return f'<Course {self.name}>'


courses = {}


def add_course(course):
  courses[course.id] = course


add_course(Course('maths1', 10))
add_course(Course('stats', 20))
courses

{1: <Course maths1>, 2: <Course stats>}

In [36]:
class Enroll:
  _idx = 1

  def __init__(self, student_id, course_id, term, year):
    self.id = Enroll._idx
    Enroll._idx += 1

    self.student_id = student_id
    self.course_id = course_id
    self.term = term
    self.year = year

  def __repr__(self):
    return f'<Enroll {self.student_id} {self.course_id}>'


enrolls = {}


def add_enroll(enroll):
  enrolls[enroll.id] = enroll


add_enroll(Enroll(student_id=1, course_id=1, term='T3', year=2023))
add_enroll(Enroll(student_id=2, course_id=2, term='T2', year=2023))
enrolls

{1: <Enroll 1 1>, 2: <Enroll 2 2>}

In [54]:
for enroll in enrolls.values():
  print(students[enroll.student_id].place, courses[enroll.course_id].credits)

hbh 10
albd 20

In [49]:
students[enrolls[1].student_id].name
courses[enrolls[1].course_id].name
courses[enrolls[1].course_id].credits

'vidu'

'maths1'

10

In [39]:
for student in students.values():
  print(f'{student.name} from {student.place}')

vidu from hbh
rahul from albd

In [40]:
for id in students:
  print(id)

1
2

In [42]:
for id, student in students.items():
  print(f'student {id} is {student.name}')

student 1 is vidu
student 2 is rahul