In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('test.db')
cur = conn.cursor()

# SELECT

In [3]:
cur.execute('select * from students')
students = cur.fetchall()
for id, name, place, age in students:
  print(name)

vidu
rahul
harikesh

# CREATE

In [7]:
cur.execute("""CREATE TABLE students (
                id INTEGER PRIMARY KEY,
                name TEXT,
                place TEXT,
                age INTEGER
            )""")
conn.commit()

In [8]:
cur.execute("""CREATE TABLE courses (
                id INTEGER PRIMARY KEY,
                name TEXT,
                credits INTEGER
            )""")
conn.commit()

In [10]:
cur.execute("""CREATE TABLE enrolls (
                id INTEGER PRIMARY KEY,
                student_id INTEGER,
                course_id INTEGER,
                term TEXT,
                year INTEGER,
                FOREIGN KEY(student_id) REFERENCES students(id),
                FOREIGN KEY(course_id) REFERENCES courses(id)
            )""")
conn.commit()

# Insert functions

In [ ]:
def add_student(name, place, age):
  cur.execute("INSERT INTO students (name, place, age) VALUES (?,?,?)", (name, place, age))
  conn.commit()


# add_student('vidu', 'hbh', 22)
# add_student('rahul', 'albd', 21)
# add_student('harikesh', 'albd', 22)

In [ ]:
def add_course(name, credits):
  cur.execute('INSERT INTO courses (name, credits) VALUES (?,?)', (name, credits))
  conn.commit()


# add_course('maths1', 10)
# add_course('stats1', 4)

In [ ]:
def add_enroll(student_id, course_id, term, year):
  cur.execute('INSERT INTO enrolls (student_id, course_id, term, year) VALUES (?,?,?,?)',
              (student_id, course_id, term, year))
  conn.commit()


# add_enroll(3, 1, 'T1', 2024)
# add_enroll(2, 2, 'T2', 2024)

In [20]:
cur.execute('select name, age from students')
result = cur.fetchall()
print(result)

[('vidu', 22), ('rahul', 21), ('harikesh', 22)]

In [21]:
for row in result:
  print(f'I am {row[0]} and I am {row[1]} years old')

I am vidu and I am 22 years old
I am rahul and I am 21 years old
I am harikesh and I am 22 years old

In [27]:
cur.execute('select name, credits from courses')
result = cur.fetchall()

for row in result:
  print(f'Course {row[0]} has {row[1]} credits')

Course maths1 has 10 credits
Course stats1 has 4 credits

In [35]:
cur.execute("""
select students.name, students.place, courses.name from enrolls
            inner join students on students.id = enrolls.student_id
            inner join courses on courses.id = enrolls.course_id
""")
result = cur.fetchall()
result

for name, place, course in result:
  print(f'{name} from {place} has taken {course}')

[('harikesh', 'albd', 'maths1'), ('rahul', 'albd', 'stats1')]

harikesh from albd has taken maths1
rahul from albd has taken stats1