In [36]:
from sqlalchemy import Column, Integer, String, ForeignKey, create_engine
from sqlalchemy.orm import sessionmaker, declarative_base, relationship

In [ ]:
Base = declarative_base()

In [38]:
class Student(Base):
  __tablename__ = 'students'
  id = Column(Integer, primary_key=True)
  name = Column(String)
  place = Column(String)
  age = Column(Integer)

  def __repr__(self):
    return f'<Student {self.name}>'

  courses = relationship('Course', secondary='enrolls',
                         back_populates='students')

In [39]:
class Course(Base):
  __tablename__ = 'courses'
  id = Column(Integer, primary_key=True)
  name = Column(String)
  credits = Column(Integer)

  def __repr__(self):
    return f'<Course {self.name}>'

  students = relationship('Student', secondary='enrolls',
                          back_populates='courses')

In [40]:
class Enroll(Base):
  __tablename__ = 'enrolls'
  id = Column(Integer, primary_key=True)

  student_id = Column(Integer, ForeignKey('students.id'))
  course_id = Column(Integer, ForeignKey('courses.id'))
  term = Column(String)
  year = Column(Integer)

  def __repr__(self):
    return f'<Enroll {self.student_id} {self.course_id}>'

In [41]:
engine = create_engine('sqlite:///:memory:')
Base.metadata.create_all(engine)

# Query and Insert

In [42]:
Session = sessionmaker(bind=engine)
session = Session()

In [43]:
session.add(Student(name='rahul', place='albd', age=23))
session.add(Student(name='cmd', place='albd', age=24))
session.add(Student(name='vidu', place='hbh', age=21))
session.add(Course(name='mad1', credits=10))
session.add(Course(name='dbms', credits=10))
session.commit()

In [44]:
session.add(Enroll(student_id=2, course_id=2, term='T1', year=2024))
session.add(Enroll(student_id=2, course_id=2, term='T3', year=2024))
session.add(Enroll(student_id=1, course_id=1, term='T2', year=2024))
session.commit()

In [45]:
session.query(Student).all()
session.query(Course).all()
session.query(Enroll).all()

In [49]:
enrolls = session.query(Enroll).all()
for enroll in enrolls:
  student = session.query(Student).filter_by(id=enroll.student_id).first()
  course = session.query(Course).filter_by(id=enroll.course_id).first()
  print(student.name, course.name)

cmd dbms
cmd dbms
rahul mad1