In [4]:
import pyhtml as h

In [5]:
h.h1('Hello')

h1('Hello')

# People places

In [8]:
people_places = [
    ['vidu', 'hbh'],
    ['rahul', 'bhadohi'],
    ['harikesh', 'bhadohi']
]

In [14]:
for name, place in people_places:
  print(h.p(f'I am {name}, I live in {place}'))

<p>
  I am vidu, I live in hbh
</p>
<p>
  I am rahul, I live in bhadohi
</p>
<p>
  I am harikesh, I live in bhadohi
</p>

In [18]:
[
    print(h.p(f'I am {name}, I live in {place}')) for name, place in people_places
]

<p>
  I am vidu, I live in hbh
</p>
<p>
  I am rahul, I live in bhadohi
</p>
<p>
  I am harikesh, I live in bhadohi
</p>

[None, None, None]

In [25]:
markup = h.div(
    h.p(f'I am {name}, I live in {place}') for name, place in people_places
)
print(markup)

<div>
  <p>
    I am vidu, I live in hbh
  </p>
  <p>
    I am rahul, I live in bhadohi
  </p>
  <p>
    I am harikesh, I live in bhadohi
  </p>
</div>

# todos

In [32]:
todos = [
    {'text': 'To learn pyhtml', 'status': 'pending'},
    {'text': 'Make gamaka videos', 'status': 'pending'},
    {'text': 'Have lunch', 'status': 'done'}
]

In [36]:
def get_status_emoji(status):
  if status == 'pending':
    return '⌛'
  elif status == 'done':
    return '✅'


get_status_emoji('pending')
get_status_emoji('done')

'⌛'

'✅'

In [37]:
for todo in todos:
  print(f'{get_status_emoji(todo['status'])} {todo['text']}')

⌛ To learn pyhtml
⌛ Make gamaka videos
✅ Have lunch

In [60]:
markup = h.div(class_='container')(
    h.p(class_=f'todo {todo["status"]}')(
        f'{get_status_emoji(todo["status"])} {todo["text"]}'
    )
    for todo in todos
)


print(markup)

<div class="container">
  <p class="todo pending">
    ⌛ To learn pyhtml
  </p>
  <p class="todo pending">
    ⌛ Make gamaka videos
  </p>
  <p class="todo done">
    ✅ Have lunch
  </p>
</div>

# Week 3 lab

In [61]:
data = [
    (1001, 2001, 56), (1002, 2001, 67), (1003, 2001, 78), (1004, 2001, 90), (1005, 2001, 45),
    (1001, 2002, 58), (1002, 2002, 98), (1009, 2002, 12), (1007, 2002, 99), (1008, 2002, 39),
    (1003, 2003, 34), (1004, 2003, 43), (1000, 2003, 25), (1060, 2003, 60), (1090, 2003, 88),
    (1005, 2004, 81), (1080, 2004, 59), (1030, 2004, 87), (1001, 2004, 35), (1090, 2004, 33)
]

In [66]:
# for student, course, marks in data:
#   print(h.tr(
#       h.td(student), h.td(course), h.td(marks)
#   ))

In [72]:
data_rows = [
    h.tr(
        h.td(student), h.td(course), h.td(marks)
    )
    for student, course, marks in data
]

In [75]:
header = h.tr(
    h.th('Student Id'), h.th('Course Id'), h.th('Obtained Marks')
)

In [76]:
markup = h.table(
    header,
    *data_rows
)

print(markup)

<table>
  <tr>
    <th>
      Student Id
    </th>
    <th>
      Course Id
    </th>
    <th>
      Obtained Marks
    </th>
  </tr>
  <tr>
    <td>
      1001
    </td>
    <td>
      2001
    </td>
    <td>
      56
    </td>
  </tr>
  <tr>
    <td>
      1002
    </td>
    <td>
      2001
    </td>
    <td>
      67
    </td>
  </tr>
  <tr>
    <td>
      1003
    </td>
    <td>
      2001
    </td>
    <td>
      78
    </td>
  </tr>
  <tr>
    <td>
      1004
    </td>
    <td>
      2001
    </td>
    <td>
      90
    </td>
  </tr>
  <tr>
    <td>
      1005
    </td>
    <td>
      2001
    </td>
    <td>
      45
    </td>
  </tr>
  <tr>
    <td>
      1001
    </td>
    <td>
      2002
    </td>
    <td>
      58
    </td>
  </tr>
  <tr>
    <td>
      1002
    </td>
    <td>
      2002
    </td>
    <td>
      98
    </td>
  </tr>
  <tr>
    <td>
      1009
    </td>
    <td>
      2002
    </td>
    <td>
      12
    </td>
  </tr>
  <tr>
    <td>
      1007
    </td>
    <td>
      2002
    </td>
    <td>
      99
    </td>
  </tr>
  <tr>
    <td>
      1008
    </td>
    <td>
      2002
    </td>
    <td>
      39
    </td>
  </tr>
  <tr>
    <td>
      1003
    </td>
    <td>
      2003
    </td>
    <td>
      34
    </td>
  </tr>
  <tr>
    <td>
      1004
    </td>
    <td>
      2003
    </td>
    <td>
      43
    </td>
  </tr>
  <tr>
    <td>
      1000
    </td>
    <td>
      2003
    </td>
    <td>
      25
    </td>
  </tr>
  <tr>
    <td>
      1060
    </td>
    <td>
      2003
    </td>
    <td>
      60
    </td>
  </tr>
  <tr>
    <td>
      1090
    </td>
    <td>
      2003
    </td>
    <td>
      88
    </td>
  </tr>
  <tr>
    <td>
      1005
    </td>
    <td>
      2004
    </td>
    <td>
      81
    </td>
  </tr>
  <tr>
    <td>
      1080
    </td>
    <td>
      2004
    </td>
    <td>
      59
    </td>
  </tr>
  <tr>
    <td>
      1030
    </td>
    <td>
      2004
    </td>
    <td>
      87
    </td>
  </tr>
  <tr>
    <td>
      1001
    </td>
    <td>
      2004
    </td>
    <td>
      35
    </td>
  </tr>
  <tr>
    <td>
      1090
    </td>
    <td>
      2004
    </td>
    <td>
      33
    </td>
  </tr>
</table>