# Templating

In [4]:
name = 'vidu'
place = 'hbh'

print('My name is '+name+', I live in '+place+'.')
print(f'My name is {name}, I live in {place}')

My name is vidu, I live in hbh.
My name is vidu, I live in hbh

In [5]:
name = 'vidu'
place = 'hbh'

print('My name is '+name.capitalize()+', I live in '+place+'.')
print(f'My name is bad {name[0].upper()}, I live in {place}')

My name is Vidu, I live in hbh.
My name is bad V, I live in hbh

In [6]:
word = 'apple'

word[0].upper()
word.upper()[0]

'A'

'A'

In [7]:
name = 'rahul'
place = 'bhadohi'
f'I am {name.capitalize()}, I live in {place.capitalize()}.'

name = 'harikesh'
place = 'bhadohi'
f'I am {name.capitalize()}, I live in {place.capitalize()}.'

name = 'vidu'
place = 'hbh'
f'I am {name.capitalize()}, I live in {place.capitalize()}.'

'I am Rahul, I live in Bhadohi.'

'I am Harikesh, I live in Bhadohi.'

'I am Vidu, I live in Hbh.'

In [8]:
def intro(name, place):
  return f'I am {name.capitalize()}, I live in {place.capitalize()}.'


intro(name='rahul', place='bhadohi')
intro(name='harikesh', place='bhadohi')
intro(name='vidu', place='hbh')

'I am Rahul, I live in Bhadohi.'

'I am Harikesh, I live in Bhadohi.'

'I am Vidu, I live in Hbh.'

# string.Template

In [9]:
from string import Template   # here Template is a class

intro_template = Template('I am $name, I live in $place.')
intro_template.substitute(name='vidu'.capitalize(), place='hbh'.capitalize())
intro_template.substitute(name='rahul', place='bhadohi')
intro_template.substitute(name='harikesh', place='bhadohi')

'I am Vidu, I live in Hbh.'

'I am rahul, I live in bhadohi.'

'I am harikesh, I live in bhadohi.'

In [17]:
def intro(name, place):
  from string import Template
  intro_template = Template('I am $name, I live in $place.')
  return intro_template.substitute(name=name.capitalize(), place=place.capitalize())


intro(name='rahul', place='bhadohi')
intro(name='harikesh', place='bhadohi')
intro(name='vidu', place='hbh')

'I am Rahul, I live in Bhadohi.'

'I am Harikesh, I live in Bhadohi.'

'I am Vidu, I live in Hbh.'

# Jinja2

In [11]:
from jinja2 import Template

intro_template = Template('I am {{name}}, I live in {{place}}')
intro_template.render(name='rahul'.capitalize(), place='bhadohi'.capitalize())
intro_template.render(name='harikesh', place='bhadohi')
intro_template.render(name='vidu', place='hbh')

'I am Rahul, I live in Bhadohi'

'I am harikesh, I live in bhadohi'

'I am vidu, I live in hbh'

In [14]:
def intro(name, place):
  from jinja2 import Template
  intro_template = Template('I am {{name}}, I live in {{place}}')
  return intro_template.render(name=name.capitalize(), place=place.capitalize())


intro(name='rahul', place='bhadohi')
intro(name='harikesh', place='bhadohi')
intro(name='vidu', place='hbh')

'I am Rahul, I live in Bhadohi'

'I am Harikesh, I live in Bhadohi'

'I am Vidu, I live in Hbh'

# HTML Templating

In [18]:
name = 'Vidu'
f'<h1>I am {name}</h1>'

'<h1>I am Vidu</h1>'

In [20]:
def h1(text):
  return f'<h1>{text}</h1>'


def h2(text):
  return f'<h2>{text}</h2>'


h1('I am vidu')
h2('I live in hbh')

'<h1>I am vidu</h1>'

'<h2>I live in hbh</h2>'

In [22]:
def div(text):
  return f'<div>{text}</div>'


div('Welcome to my blog')

'<div>Welcome to my blog</div>'

In [27]:
div('')
h1('Good night')
div(h1('Good morning'))

'<div></div>'

'<h1>Good night</h1>'

'<div><h1>Good morning</h1></div>'

## Generating markup using PyHTML

In [40]:
from pyhtml import h1, h2, div, p, img, head, html, body, title, link

In [36]:
print(h1(class_='greeting')('Good Morning'))

<h1 class="greeting">
  Good Morning
</h1>

In [47]:
doc = html(
    head(
        title('My blog'),
        link(rel='stylesheet', href='style.class')
    ),
    body(
        h1('Good morning'),
        h2('I am vidu'),
        div(
            p('Welcome to hbh'),
            p('Its beautiful here')
        )
    )
)
print(doc)

<!DOCTYPE html>
<html>
  <head>
    <title>
      My blog
    </title>
    <link href="style.class" rel="stylesheet"/>
  </head>
  <body>
    <h1>
      Good morning
    </h1>
    <h2>
      I am vidu
    </h2>
    <div>
      <p>
        Welcome to hbh
      </p>
      <p>
        Its beautiful here
      </p>
    </div>
  </body>
</html>