# [name only]

In [157]:
friends = ['vidu', 'vishnu', 'rahul']


def is_friend(name):
  return name in friends


def add_friend(name):
  if not is_friend(name):
    friends.append(name)


def remove_friend(name):
  if is_friend(name):
    friends.remove(name)


add_friend('sanika')
add_friend('cmd')
remove_friend('sanika')
is_friend('sanika')
friends

False

['vidu', 'vishnu', 'rahul', 'cmd']

# [name + place] `2D list`

In [158]:
friends = [
    ['vidu', 'hbh'],
    ['vaishnvi', 'hbh'],
    ['rahul', 'albd'],
    ['cmd', 'albd']
]


def get_names():
  return [row[0] for row in friends]


def get_places():
  return [row[1] for row in friends]


def get_place_of(name):
  return [row[1] for row in friends if row[0] == name][0]


def get_people_from(place):
  return [row[0] for row in friends if row[1] == place]


def is_friend(name):
  return name in get_names()
  # something = [True for row in friends if row[0] == name]
  # if something == [True]:
  #   return True
  # elif something == []:
  #   return False


def add_friend(name, place):
  if not is_friend(name):
    friends.append([name, place])


def remove_friend(name):
  if is_friend(name):
    friends.remove([name, get_place_of(name)])


remove_friend('vidu')
add_friend('harikesh', 'albd')
is_friend('abc')
get_people_from('hbh')
get_place_of('rahul')
get_names()
get_places()
friends

False

['vaishnvi']

'albd'

['vaishnvi', 'rahul', 'cmd', 'harikesh']

['hbh', 'albd', 'albd', 'albd']

[['vaishnvi', 'hbh'], ['rahul', 'albd'], ['cmd', 'albd'], ['harikesh', 'albd']]

In [159]:
fruits = ['orange', 'apple', 'banana']
fruits.remove('orange')
fruits

['apple', 'banana']

In [160]:
prices = [
    ['orange', 10],
    ['apple', 20],
    ['banana', 10]
]


def get_price_of(fruit):
  return [row[1] for row in prices if fruit == row[0]][0]


get_price_of('banana')
prices.remove(['orange', get_price_of('orange')])
prices

10

[['apple', 20], ['banana', 10]]

# [name + place + age]  `2D list`

In [161]:
friends = [
    ['vidu', 'hbh', 20],
    ['vishnu', 'hbh', 9],
    ['rahul', 'albd', 21],
    ['vaish', 'hbh', 13]
]


def get_names():
  return [row[0] for row in friends]


def get_places():
  return [row[1] for row in friends]


def get_people_from(place):
  return [row[0] for row in friends if row[1] == place]


def get_place_of(name):
  return [row[1] for row in friends if row[0] == name][0]


def get_age_of(name):
  return [row[2] for row in friends if row[0] == name][0]


def is_friend(name):
  return name in get_names()


def add_friend(name, place, age):
  if not is_friend(name):
    friends.append([name, place, age])


def remove_friend(name):
  if is_friend(name):
    friends.remove([name, get_place_of(name), get_age_of(name)])


get_names()
get_places()
get_people_from('hbh')
get_place_of('rahul')
get_age_of('rahul')
is_friend('cba')
add_friend('sanika', 'pune', 21)
remove_friend('sanika')
friends

['vidu', 'vishnu', 'rahul', 'vaish']

['hbh', 'hbh', 'albd', 'hbh']

['vidu', 'vishnu', 'vaish']

'albd'

21

False

[['vidu', 'hbh', 20],
 ['vishnu', 'hbh', 9],
 ['rahul', 'albd', 21],
 ['vaish', 'hbh', 13]]

# [name + place + age] `friends = {name: [...]}`

In [54]:
friends = {
    'vidu': ['hbh', 20],
    'rahul': ['albd', 21],
    'muskan': ['raipur', 20],
    'sanika': ['pune', 21],
    'vishnu': ['hbh', 10],
    'vaishnvi': ['hbh', 14]
}


def get_names():
  return list(friends.keys())


def get_places():
  return [data[0] for data in friends.values()]


def get_people_from(place):
  return [name for name, data in friends.items() if data[0] == place]


def get_place_of(name):
  return friends[name][0]


def get_age_of(name):
  return friends[name][1]


def is_friend(name):
  return name in friends


def add_friend(name, place, age):
  if not is_friend(name):
    friends[name] = [place, age]


def remove_friend(name):
  if is_friend(name):
    del friends[name]


get_names()
get_places()
get_people_from('hbh')
get_place_of('vidu')
get_age_of('vishnu')
is_friend('vidu')
add_friend('cmd', 'albd', 19)
remove_friend('cmd')
friends

['vidu', 'rahul', 'muskan', 'sanika', 'vishnu', 'vaishnvi']

['hbh', 'albd', 'raipur', 'pune', 'hbh', 'hbh']

['vidu', 'vishnu', 'vaishnvi']

'hbh'

10

True

{'vidu': ['hbh', 20],
 'rahul': ['albd', 21],
 'muskan': ['raipur', 20],
 'sanika': ['pune', 21],
 'vishnu': ['hbh', 10],
 'vaishnvi': ['hbh', 14]}

In [163]:
# prices = {
#     'orange': [10, 15],
#     'apple': [20, 25],
#     'banana': [40, 45]
# }

# del prices['kiwi']
# prices

# [name + place + age]  `friends = {name: {...}}`

In [75]:
friends = {
    'vidu': {
        'place': 'hbh', 'age': 21
    },
    'vishnu': {
        'place': 'hbh', 'age': 11
    },
    'rahul': {
        'place': 'albd', 'age': 21
    }
}


def get_names():
  return list(friends.keys())


def get_places():
  return [data['place'] for data in friends.values()]


def get_ages():
  return [data['age'] for data in friends.values()]


def get_place_of(name):
  return friends[name]['place']


def get_age_of(name):
  return friends[name]['age']


def get_people_from(place):
  return [name for name, data in friends.items() if data['place'] == place]


def get_people_of(age):
  return [name for name, data in friends.items() if data['age'] == age]


def is_friend(name):
  return name in friends


def add_friend(name, place, age):
  if not is_friend(name):
    friends[name] = {'place': place, 'age': age}


def remove_friend(name):
  if is_friend(name):
    del friends[name]


get_names()
get_places()
get_ages()
get_place_of('rahul')
get_age_of('rahul')
get_people_from('hbh')
get_people_of(11)
is_friend('zebra'), is_friend('rahul')
add_friend('muskan', 'raipur', 21)
add_friend('sanika', 'pune', 25)
remove_friend('sanika')
friends

['vidu', 'vishnu', 'rahul']

['hbh', 'hbh', 'albd']

[21, 11, 21]

'albd'

21

['vidu', 'vishnu']

['vishnu']

(False, True)

{'vidu': {'place': 'hbh', 'age': 21},
 'vishnu': {'place': 'hbh', 'age': 11},
 'rahul': {'place': 'albd', 'age': 21},
 'muskan': {'place': 'raipur', 'age': 21}}

In [22]:
data = {
    'name': 'rahul',
    'age': 20,
    'place': 'albd'
}

data['place']

'albd'