# gradebook = []

In [44]:
gradebook = [
    ['vidu', 'rahul', 'harikesh', 'muskan', 'sanika'],
    ['maths', 'mlf', 'pdsa', 'dbms', 'stats'],
    [
        ('vidu', 'dbms'),
        ('rahul', 'pdsa'),
        ('harikesh', 'maths'),
    ]
]

In [45]:
gradebook[0].append('gauri')
gradebook[0]

['vidu', 'rahul', 'harikesh', 'muskan', 'sanika', 'gauri']

In [46]:
gradebook[1].append('mlp')
gradebook[1]

['maths', 'mlf', 'pdsa', 'dbms', 'stats', 'mlp']

In [47]:
gradebook[2].append(('gauri', 'mlp'))
gradebook[2].append(('gauri', 'maths'))
gradebook[2]

[('vidu', 'dbms'),
 ('rahul', 'pdsa'),
 ('harikesh', 'maths'),
 ('gauri', 'mlp'),
 ('gauri', 'maths')]

In [48]:
[row[0] for row in gradebook[2] if row[1] == 'mlp']

['gauri']

In [49]:
[row[1] for row in gradebook[2] if row[0] == 'gauri']

['mlp', 'maths']

In [50]:
set([row[0] for row in gradebook[2]])

{'gauri', 'harikesh', 'rahul', 'vidu'}

In [51]:
set(gradebook[0]) - set(row[0] for row in gradebook[2])

{'muskan', 'sanika'}

In [52]:
set(row[1] for row in gradebook[2])

{'dbms', 'maths', 'mlp', 'pdsa'}

In [53]:
set(gradebook[1]) - set(row[1] for row in gradebook[2])

{'mlf', 'stats'}

# gradebook = {}, enrollments = {}

In [54]:
gradebook = {
    'students': ['vidu', 'vishnu', 'vaishnvi', 'rahul'],
    'courses': ['maths', 'stats', 'mlp', 'pdsa', 'dbms'],
    'enrollments': [
        {'student': 'vidu', 'course': 'maths'},
        {'student': 'rahul', 'course': 'mlp'},
        {'student': 'vishnu', 'course': 'pdsa'},
        {'student': 'vaishnvi', 'course': 'dbms'},
    ]
}

In [55]:
gradebook['students'].append('harikesh')
gradebook['courses'].append('english')
gradebook['enrollments'].append({'student': 'harikesh', 'course': 'english'})
gradebook['enrollments'].append({'student': 'harikesh', 'course': 'mlp'})
gradebook

{'students': ['vidu', 'vishnu', 'vaishnvi', 'rahul', 'harikesh'],
 'courses': ['maths', 'stats', 'mlp', 'pdsa', 'dbms', 'english'],
 'enrollments': [{'student': 'vidu', 'course': 'maths'},
  {'student': 'rahul', 'course': 'mlp'},
  {'student': 'vishnu', 'course': 'pdsa'},
  {'student': 'vaishnvi', 'course': 'dbms'},
  {'student': 'harikesh', 'course': 'english'},
  {'student': 'harikesh', 'course': 'mlp'}]}

In [60]:
# who taken mlp
[row['student'] for row in gradebook['enrollments'] if row['course'] == 'mlp']

# what harikesh has taken
[row['course'] for row in gradebook['enrollments'] if row['student'] == 'harikesh']

['rahul', 'harikesh']

['english', 'mlp']

In [63]:
gradebook['students'].append('cmd')

In [65]:
# stud having at least 1 course
set([row['student'] for row in gradebook['enrollments']])

# stud having 0 course
set(gradebook['students']) - set([row['student'] for row in gradebook['enrollments']])

{'harikesh', 'rahul', 'vaishnvi', 'vidu', 'vishnu'}

{'cmd'}

In [70]:
# course having at least 1 enroll
set(row['course'] for row in gradebook['enrollments'])

# course having 0 enroll
set(gradebook['courses']) - set(row['course'] for row in gradebook['enrollments'])

{'dbms', 'english', 'maths', 'mlp', 'pdsa'}

{'stats'}

# gradebook = {}, enrollments = [{}, ...], students = [{name: ?, place: ?, age: ?}, ...]

In [84]:
gradebook = {
    'students': [
        {'name': 'vidu', 'place': 'hbh', 'age': 22},
        {'name': 'rahul', 'place': 'albd', 'age': 23},
        {'name': 'muskan', 'place': 'raipur', 'age': 20},
        {'name': 'sanika', 'place': 'pune', 'age': 25},
    ],
    'courses': [
        'maths', 'pdsa', 'dbms', 'stats'
    ],
    'enrollments': [
        {'student': 'vidu', 'course': 'pdsa'},
        {'student': 'vidu', 'course': 'dbms'},
        {'student': 'rahul', 'course': 'dbms'},
        {'student': 'muskan', 'course': 'maths'},
    ]
}

In [85]:
gradebook['students'].append({'name': 'harikesh', 'place': 'albd', 'age': 23})

In [86]:
gradebook['courses'].append('english')
gradebook['enrollments'].append({'student': 'harikesh', 'course': 'maths'})
gradebook['enrollments'].append({'student': 'harikesh', 'course': 'english'})
gradebook

{'students': [{'name': 'vidu', 'place': 'hbh', 'age': 22},
  {'name': 'rahul', 'place': 'albd', 'age': 23},
  {'name': 'muskan', 'place': 'raipur', 'age': 20},
  {'name': 'sanika', 'place': 'pune', 'age': 25},
  {'name': 'harikesh', 'place': 'albd', 'age': 23}],
 'courses': ['maths', 'pdsa', 'dbms', 'stats', 'english'],
 'enrollments': [{'student': 'vidu', 'course': 'pdsa'},
  {'student': 'vidu', 'course': 'dbms'},
  {'student': 'rahul', 'course': 'dbms'},
  {'student': 'muskan', 'course': 'maths'},
  {'student': 'harikesh', 'course': 'maths'},
  {'student': 'harikesh', 'course': 'english'}]}

In [87]:
# all names
[row['name'] for row in gradebook['students']]


# all names (from albd)
[row['name'] for row in gradebook['students'] if row['place'] == 'albd']

# all names (>=23)
[row['name'] for row in gradebook['students'] if row['age'] >= 23]

['vidu', 'rahul', 'muskan', 'sanika', 'harikesh']

['rahul', 'harikesh']

['rahul', 'sanika', 'harikesh']

In [91]:
# who taken maths
[row['student'] for row in gradebook['enrollments'] if row['course'] == 'maths']

# what harikesh has taken
[row['course'] for row in gradebook['enrollments'] if row['student'] == 'harikesh']

['muskan', 'harikesh']

['maths', 'english']

In [99]:
# students having atleast 1 course
set(row['student'] for row in gradebook['enrollments'])

# student having 0 course
set(row['name'] for row in gradebook['students']) - set(row['student'] for row in gradebook['enrollments'])

{'harikesh', 'muskan', 'rahul', 'vidu'}

{'sanika'}

In [103]:
# course with atleast 1 enroll
set(row['course'] for row in gradebook['enrollments'])

# course with 0 enroll
set(gradebook['courses']) - set(row['course'] for row in gradebook['enrollments'])

{'dbms', 'english', 'maths', 'pdsa'}

{'stats'}